body {
  margin: 0px;
}
.bg-container {
  display: flex;
  flex-direction: column;
}
.header-container {
  background-color: #2c0e3a;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-size {
  width: 120px;
  height: 30px;
  margin-left: 32px;
}
.scoreTable {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 44px;
}
.label {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  list-style-type: none;
}
.score {
  color: #fec653;
  font-size: 18px;
  margin-right: 12px;
  list-style-type: none;
}
.timer-pic {
  width: 25px;
  height: 25px;
}
.body-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-pic {
  width: 520px;
  height: 320px;
  margin-top: 68px;
}
.tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.game-over-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trophy-img {
  width: 500px;
  height: 400px;
  margin-top: 144px;
}
.your-score {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}
.score-count {
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Roboto';
}
.play-again-btn {
  background-color: #cf60c8;
  color: #ffffff;
  border-width: 0px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: 80px;
  margin-bottom: 40px;
}
.restart-logo {
  margin-right: 8px;
}
